@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.fondo{
    background-image: linear-gradient(to right top, #e7e7c5, #e6e7c7, #e6e7c9, #e5e7cb, #e5e7cd, #ede7d0, #f4e8d5, #f9e9db, #ffede9, #fff2f5, #fdf9fc, #ffffff);
}

.encabezado{
    background-color: rgba(255, 250, 250, 0.5);
    position: sticky;   
    top:2px;
    z-index:10;
}

.sectionPrincipal .titulo{
    color: rgba(143, 98, 16,0.5);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    text-align: center;
}

.logo{
    float: left;
    margin-top: 0px;
    position:absolute;
    width: 80px;
    /*border-radius:50%;*/
}

.menu {
    list-style-type: none;
    text-align: right;
    overflow: hidden;
}

.menu li{
    display: inline-block;
    text-align: center;
    margin: 10px;
    /*float: left;*/
}

.link{
    display: block; 
    text-decoration: none;
    color: rgb(184, 134, 11);
    font-size: 2rem;
    padding: 10px;
}

.link:hover{
    /*color:rgba(143, 98, 16,0.5)*/
    color:rgba(218, 165, 32,0.7)
    
}

.sectionPrincipal{
    padding-top: 100px;
}

.sectionPrincipal .logoGrande{
    text-align: center;
    
}

.intro{
    margin: 2vh;
    margin-left: 30vh;
    margin-right: 20vh;
}

.parrafo{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    overflow-wrap: break-word;
    
}



.interlineado{
    line-height: 1.2;
}

.sectionSecundaria h2{
    color: rgba(143, 98, 16,0.5);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.sectionSecundaria a{
    text-decoration: none;
}

.imagenInicio img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.subtitulo{
    color: rgba(143, 98, 16,0.5);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    text-align: center;
}

.footer{
    background-color: rgba(255, 250, 250, 0.5);
}

.logoFooter{
    float: right;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
    width: 120px;
    height: auto;
    vertical-align: middle;
}

.footerText{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    display: inline-block;
    padding-right: 5vh;
    padding-bottom: 2.5vh;
    
}

.footerTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-decoration: underline;
    /*margin-left: 0.5vh;*/
    text-align: center;
}


.center{
    text-align: center;
}

.medio{
    padding-inline-start: 19vh;

}


.redes{
    width: 24px;
    height: 24px;
    margin-right: 1vh;
}

.map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    width: fit-content;
    border-color: goldenrod;
    border-style: groove;
}

.formulario{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-left: 5vh;
    margin-top: 5vh ;
    margin-right: 5vh;
}

.label{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin-left: 5vh;
    margin-bottom: 2vh;
    margin-right: 5vh;
    
    
}

.formulario input{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-left: 5vh;
    margin-bottom: 5vh;
    
}

.formulario .input{
    width: 99%;
    
}

.field {
    margin-bottom: 5vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.label label{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

.label input{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

.field textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-left: 1vh;
    margin-right: 1vh;
}


.snip1585 {

    color: #fff;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 10px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.snip1585 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1585:before,
.snip1585:after {
    background-color: rgba(188, 167, 181, 0.5);
    border-top: 50px solid rgba(237, 236, 226, 0.5);
    border-bottom: 50px solid rgba(224, 216, 224, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
}

.snip1585:before {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
}

.snip1585:after {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
}

.snip1585 img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}

.snip1585 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.snip1585 h3 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.snip1585 h3 span {
    display: block;
    font-weight: 700;
}

.snip1585 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.snip1585:hover > img,
.snip1585.hover > img {
    opacity: 0.7;
}

.snip1585:hover:before,
.snip1585.hover:before,
.snip1585:hover:after,
.snip1585.hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.snip1585:hover figcaption,
.snip1585.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}