@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,300&family=Roboto&family=Yatra+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

.fondo {
  background-image: linear-gradient(to right top, #e7e7c5, #e6e7c7, #e6e7c9, #e5e7cb, #e5e7cd, #ede7d0, #f4e8d5, #f9e9db, #ffede9, #fff2f5, #fdf9fc, #ffffff);
  background-repeat: no-repeat;
  overflow-x: hidden; }
  .fondo .encabezado {
    background-color: rgba(255, 250, 250, 0.5);
    position: sticky;
    top: 2px;
    justify-content: space-between; }
    .fondo .encabezado .logo {
      margin-top: 0px;
      width: 20%; }
    .fondo .encabezado .menu li {
      list-style-type: none;
      margin: 10px;
      display: inline-block;
      text-align: center;
      position: relative; }
      .fondo .encabezado .menu li .link {
        display: inline-block;
        margin-block: 2px;
        text-decoration: none;
        color: darkgoldenrod;
        position: relative;
        margin-top: 7px;
        font-size: 2rem;
        padding: 7px; }
      .fondo .encabezado .menu li .link:hover {
        color: rgba(143, 98, 16, 0.5);
        color: rgba(218, 165, 32, 0.7); }
      .fondo .encabezado .menu li .link::after {
        content: '';
        width: 100%;
        height: 1px;
        background: rgba(236, 190, 75, 0.7);
        border-radius: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .25s ease; }
      .fondo .encabezado .menu li .link:hover::after {
        transform: scaleX(1); }

.sectionPrincipal {
  padding-top: 30px; }
  .sectionPrincipal .titulo {
    color: rgba(143, 98, 16, 0.5);
    font-family: "Yatra One", cursive;
    font-size: 4rem;
    text-align: center;
    padding-bottom: 30px;
    animation-duration: 4.0s; }
  .sectionPrincipal .caja {
    width: 50%;
    max-width: 500px;
    margin: 0 auto; }
  .sectionPrincipal .logoGrande {
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    height: auto; }
    @media only screen and (max-width: 480px) {
      .sectionPrincipal .logoGrande {
        max-width: 100%; } }

.sectionSecundaria {
  padding-top: 20px; }
  .sectionSecundaria .h2 {
    color: rgba(143, 98, 16, 0.5);
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    text-align: center; }
  .sectionSecundaria a {
    text-decoration: none; }
  .sectionSecundaria .imagenInicio .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center; }
  .sectionSecundaria .imagenInicio .snip1585 {
    color: #fff;
    display: inline-block;
    /* display: flex; */
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    margin: 10px;
    /* max-width: 315px; */
    max-width: auto;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%; }
  .sectionSecundaria .imagenInicio .snip1585 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease; }
  .sectionSecundaria .imagenInicio .snip1585:before,
  .sectionSecundaria .imagenInicio .snip1585:after {
    background-color: rgba(188, 167, 181, 0.5);
    border-top: 50px solid rgba(237, 236, 226, 0.5);
    border-bottom: 50px solid rgba(224, 216, 224, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0; }
  .sectionSecundaria .imagenInicio .snip1585:before {
    -webkit-transform: scaleY(2);
    transform: scaleY(2); }
  .sectionSecundaria .imagenInicio .snip1585:after {
    -webkit-transform: scaleY(2);
    transform: scaleY(2); }
  .sectionSecundaria .imagenInicio .snip1585 img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden; }
  .sectionSecundaria .imagenInicio .snip1585 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  .sectionSecundaria .imagenInicio .snip1585 h3 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase; }
  .sectionSecundaria .imagenInicio .snip1585 h3 span {
    display: block;
    font-weight: 700; }
  .sectionSecundaria .imagenInicio .snip1585 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3; }
  .sectionSecundaria .imagenInicio .snip1585:hover > img,
  .sectionSecundaria .imagenInicio .snip1585.hover > img {
    opacity: 0.7; }
  .sectionSecundaria .imagenInicio .snip1585:hover:before,
  .sectionSecundaria .imagenInicio .snip1585.hover:before,
  .sectionSecundaria .imagenInicio .snip1585:hover:after,
  .sectionSecundaria .imagenInicio .snip1585.hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  .sectionSecundaria .imagenInicio .snip1585:hover figcaption,
  .sectionSecundaria .imagenInicio .snip1585.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  .sectionSecundaria .subtitulo {
    color: rgba(143, 98, 16, 0.5);
    font-family: "Josefin Sans", sans-serif;
    font-size: 4rem;
    text-align: center; }
  .sectionSecundaria .parrafo {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    overflow-wrap: break-word; }
  .sectionSecundaria .interlineado {
    line-height: 1.2; }
  .sectionSecundaria .hypens {
    hyphens: auto; }
  .sectionSecundaria .map-r {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    width: fit-content;
    border-color: goldenrod;
    border-style: groove; }
  .sectionSecundaria .map {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    border-color: goldenrod;
    border-style: groove; }
    @media only screen and (max-width: 480px) {
      .sectionSecundaria .map {
        border-color: none;
        border-style: none; } }
    .sectionSecundaria .map .iframe {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
      @media only screen and (max-width: 480px) {
        .sectionSecundaria .map .iframe {
          width: 80%; } }

.footer {
  background-color: rgba(255, 250, 250, 0.5); }
  .footer .footerText {
    font-family: "Roboto", sans-serif;
    color: darkgoldenrod;
    font-size: 1.6rem;
    display: inline-block;
    padding-right: 5vh;
    padding-bottom: 2.5vh;
    padding-left: 3vh;
    z-index: 1; }
  .footer .footerTitle {
    color: rgba(143, 98, 16, 0.5);
    font-family: "Josefin Sans", sans-serif;
    font-size: 3rem;
    text-decoration: none;
    text-align: center;
    z-index: 1; }
  .footer .animated {
    animation-iteration-count: infinite;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .footer .swing {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing; }

@-webkit-keyframes swing {
  20%, 40%, 60%, 80%, 100% {
    -webkit-transform-origin: top center; }
  20% {
    -webkit-transform: rotate(15deg); }
  40% {
    -webkit-transform: rotate(-10deg); }
  60% {
    -webkit-transform: rotate(5deg); }
  80% {
    -webkit-transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg); } }

@keyframes swing {
  20% {
    transform: rotate(15deg); }
  40% {
    transform: rotate(-10deg); }
  60% {
    transform: rotate(5deg); }
  80% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }
  .footer .redes {
    width: 24px;
    height: 24px;
    margin-right: 2vh;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    justify-content: center; }
    .footer .redes::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: #252525;
      border-radius: 10px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0; }
  .footer .icon {
    display: inline-block;
    animation: flota infinite 4s ease-in-out; }

@keyframes flota {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-25px); }
  100% {
    transform: translateY(0); } }
  .footer .icont {
    animation-delay: 0.5s; }
  .footer .iconf {
    animation-delay: 1s; }
  .footer .icony {
    animation-delay: 1.5s; }
  @media only screen and (min-width: 1200px) {
    .footer {
      background-image: url(../assets/img/footergd.png);
      background-size: 100%;
      background-repeat: no-repeat;
      overflow-x: hidden; } }
  @media only screen and (max-width: 600px) {
    .footer {
      background-color: rgba(255, 250, 250, 0.5); }
      .footer .animated {
        transition: none !important;
        animation-name: none;
        animation: none;
        overflow-x: hidden; }
      .footer .swing {
        transition: none !important;
        animation-name: none;
        animation: none;
        overflow-x: hidden; }
      .footer .icon {
        display: inline-block;
        animation: none;
        overflow-x: hidden; } }
  @media only screen and (min-width: 768px) {
    .footer {
      background-color: rgba(255, 250, 250, 0.5); } }
  @media only screen and (min-width: 992px) {
    .footer {
      background-color: rgba(255, 250, 250, 0.5); } }

.formulario {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-left: 5vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-right: 5vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 2vw;
  padding-left: 2vw;
  background-color: rgba(253, 219, 249, 0.5);
  border-radius: 50px;
  border-style: outset;
  color: 2px solid rgba(143, 98, 16, 0.5); }
  .formulario .h2 {
    padding-bottom: 5vh;
    text-align: center;
    color: rgba(143, 98, 16, 0.5); }
  .formulario .label {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin-left: 2vh;
    margin-bottom: 2vh;
    margin-right: 5vh; }
  .formulario .inputl {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem; }
  .formulario .input {
    width: 99%; }
  .formulario .field {
    margin-bottom: 5vh;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem; }
  .formulario .ta {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    width: 97%;
    margin-left: 1vh;
    margin-right: 1vh;
    padding-left: 1vh;
    padding-right: 1vh; }
  .formulario .labelLabel {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.2rem; }
  .formulario .inputl {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.2rem; }
  .formulario .boton {
    width: 100px;
    height: 50px;
    border: goldenrod;
    border-radius: 15px;
    color: #8d640a;
    background-color: #e4c67c;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s; }
    .formulario .boton:hover {
      border: 1px solid #e4e99b;
      color: #968707; }
